**

!Dockerfile
!apps/
!apps/server/
!apps/server/go.mod
!apps/server/go.sum
!apps/server/cmd/
!apps/server/cmd/**
!apps/server/internal/
!apps/server/internal/**
!apps/server/yt-rust-extractor/
!apps/server/yt-rust-extractor/Cargo.toml
!apps/server/yt-rust-extractor/Cargo.lock
!apps/server/yt-rust-extractor/src/
!apps/server/yt-rust-extractor/src/**
