HOST=0.0.0.0
PORT=8080
PROVIDER_URL=
CREATOR_SECRET=
DEMO=0
DEMO_AUDIO_DIR=./demo-audio
DEMO_ADMIN_SECRET=beatsync
S3_BUCKET_NAME=beatsync-bucket
S3_PUBLIC_URL=http://DUCKDNS_DOMAIN:9000
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=admin
S3_SECRET_ACCESS_KEY=password123
